.Alert {
    position: fixed;
    z-index: 300;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.warning {
    background: red;
}
.primary {
    background: greenyellow;
}
.success {
    background: #5C9210;
}
.danger {
    background: #944317;
}
@media (min-width: 600px) {
    .Alert {
        width: 500px;
        left: calc(50% - 250px);
    }
}